In [1]:
import numpy as np

In [2]:
from collections import Counter

In [4]:
entropy([1, 1, 1, 1])

-0.0

In [5]:
entropy([1, 1, 1, 0])

0.4316271552006655

In [6]:
entropy([1, 1, 0, 0])

0.6020599913279624

In [7]:
import pandas as pd

In [14]:
mock_data = {
    'gender':['F', 'F', 'F', 'F', 'M', 'M', 'M'],
    'income': ['+10', '-10', '+10', '+10', '+10', '+10', '-10'],
    'family_number': [1, 1, 2, 1, 1, 1, 2],
    'bought': [1, 1, 1, 0, 0, 0, 1],
}

In [15]:
dataset = pd.DataFrame.from_dict(mock_data)

In [16]:
dataset

   bought  family_number gender income
0       1              1      F    +10
1       1              1      F    -10
2       1              2      F    +10
3       0              1      F    +10
4       0              1      M    +10
5       0              1      M    +10
6       1              2      M    -10

In [18]:
set(mock_data['family_number'])

{1, 2}

In [22]:
sub_split_1 = dataset[dataset['family_number'] == 1]['bought'].tolist()

In [23]:
sub_split_2 = dataset[dataset['family_number'] != 1]['bought'].tolist()

In [24]:
entropy(sub_split_1) + entropy(sub_split_2)

0.7176797562470717

In [25]:
dataset.columns.tolist()

['bought', 'family_number', 'gender', 'income']

In [34]:
def entropy(elements):
    counter = Counter(elements)
    probabilities = [counter[e] / len(elements) for e in elements]
    return -sum(p * np.log10(p) for p in probabilities)

In [39]:
def find_the_min_spilter(training_data: pd.DataFrame, target: str) -> str:
    x_fields = set(training_data.columns.tolist()) - {target}
    
    spliter = None
    min_entropy = float('inf')
    
    for f in x_fields:
        elements = set(training_data[f])
        for e in elements:
            sub_spliter_1 = training_data[dataset[f] == e][target].tolist()
            entropy_1 = entropy(sub_split_1)
            sub_spliter_2 = training_data[dataset[f] != e][target].tolist()
            entropy_2 = entropy(sub_split_2)
            entropy_v = entropy_1 + entropy_2
            
            if entropy_v < min_entropy:
                min_entropy = entropy_v
                spliter = (f, e)
    
    print('spliter is: {}'.format(spliter))
    print('the min entropy is: {}'.format(min_entropy))
    
    return spliter

In [40]:
find_the_min_spilter(dataset, 'bought')

spliter is: ('gender', 'F')
the min entropy is: 0.7176797562470717

('gender', 'F')

In [41]:
dataset[dataset['gender'] == 'F']

   bought  family_number gender income
0       1              1      F    +10
1       1              1      F    -10
2       1              2      F    +10
3       0              1      F    +10

In [42]:
dataset[dataset['gender'] != 'F']

   bought  family_number gender income
4       0              1      M    +10
5       0              1      M    +10
6       1              2      M    -10